body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f3f6;
}

/* Header */
.header {
    background-color: #131921;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-box input {
    padding: 7px;
    width: 200px;
}

.search-box button {
    padding: 7px;
    background: orange;
    border: none;
    cursor: pointer;
}

/* Navbar */
.navbar {
    background-color: #232f3e;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Products */
.container {
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
}

.card button {
    background: #ff9f00;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

/* Cart */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Footer */
.footer {
    background: #131921;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Mobile */
@media (max-width: 600px) {
    .search-box input {
        width: 140px;
    }
}
